h1 {
  font-family: 'zing_script';
}

body {
  margin: 5% 5%;
  font-size: 24px;
}

table {
  text-align: center;
}

table,pre {
  font-size: 24px;
  font-family: 'WeiRuanYaHei';
}

a {
  color: #868686;
  text-decoration: none;
}

div {
  width: 200px;
}

button {
  font-size: 24px;
  border: 3px solid #ccc;
  border-radius: 5px;
  font-family: 'WeiRuanYaHei';
}

button:focus {
  border-color: #868686;
  outline: 0;
}

.button {
  color: black;
}

@font-face {
  font-family: 'zing_script';
  src: url('../fonts/Zing-Script-Rust-SemiBold-Demo-Base-2.otf');
}

@font-face {
  font-family: 'WeiRuanYaHei';
  src: url('../fonts/WeiRuanYaHei-1.ttf');
}
