h1 {
  font-size: 80px;
  text-align: center;
  font-family: "zing_script";
  margin-top: 0;
}

div {
  text-align: center;
}

.block {
  margin: 0 30%;
  padding: 5% 5%;
  background-color: white;
  width: 400px;
  border-radius: 10px;
}

body {
  margin: 5% auto;
  font-size: 24px;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

input, button {
  margin: 10px auto;
  font-size: 24px;
  font-family: 'WeiRuanYaHei';
  width: 300px;
  height: 50px;
  border: 3px solid #ccc;
  border-radius: 9px;
}

input {
    padding-left: 20px;
}

input:focus,button:focus {
  border-color: #868686;
  outline: 0;
}

a {
  font-family: 'WeiRuanYaHei';
  color: #868686;
}

@font-face {
  font-family: 'zing_script';
  src: url('../fonts/Zing-Script-Rust-SemiBold-Demo-Base-2.otf');
}

@font-face {
  font-family: 'WeiRuanYaHei';
  src: url('../fonts/WeiRuanYaHei-1.ttf');
}
