h1 {
  font-family: 'zing_script';
  text-align: center;
}

body {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5% 5%;
  font-size: 24px;
  font-family: 'WeiRuanYaHei';
}

div {
  margin: 5% 25%;
  padding: 5% 10%;
  background-color: white;
  width: 450px;
  border-radius: 10px;
}

table {
  font-size: 24px;
}

pre {
  margin: 10px auto;
  font-size: 24px;
  font-family: 'WeiRuanYaHei';
}

a {
  margin: 20% 10%;
  color: #868686;
}

input,textarea {
  padding-left: 20px;
}

input,button,textarea,select,option {
  margin: 10px auto;
  font-size: 24px;
  font-family: 'WeiRuanYaHei';
  border: 3px solid #ccc;
  border-radius: 9px;
}

input:focus,button:focus,textarea:focus,select:focus {
  border-color: #868686;
  outline: 0;
}

@font-face {
  font-family: 'zing_script';
  src: url('../fonts/Zing-Script-Rust-SemiBold-Demo-Base-2.otf');
}

@font-face {
  font-family: 'WeiRuanYaHei';
  src: url('../fonts/WeiRuanYaHei-1.ttf');
}
